@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
/*
// make it bigger
    @media @tablet{
        //tablet style here
        background: wheat;
    }
    @media @chromebooks{
        //chromebooks and larger here
        background: blue;
    }
*/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
body {
  font-size: 2rem;
}
.diaper {
  margin: 0 auto;
  min-width: 500px;
}
.section1-div {
  padding: 0 3rem;
  padding-top: 2rem;
}
section {
  padding: 2rem 3rem;
}
h1 {
  font-size: 3rem;
}
img {
  height: 2.5rem;
}
.nav {
  text-align: center;
}
.nav .links {
  display: flex;
  justify-content: space-around;
}
.nav .links a {
  text-decoration: none;
  color: #0b5351;
}
@media (min-width: 768px) {
}
@media (min-width: 1336px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .links a {
    font-size: 3rem;
  }
  .nav .links a:last-child {
    margin-left: 10rem;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1336px) {
  .nav-container {
    padding: 4rem 9rem 0;
  }
  .nav-container nav img {
    height: 100%;
  }
}
.footer-section1 {
  background: lightcoral;
}
.footer-section2 {
  background: coral;
}
.section1-div {
  background-image: linear-gradient(rgba(9, 35, 39, 0.95), rgba(9, 35, 39, 0.95)), url("../img/Pharmacy-Picture.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  color: #b1ede8;
}
@media (min-width: 768px) {
}
@media (min-width: 1336px) {
  .section1-div {
    background-image: linear-gradient(rgba(9, 35, 39, 0.9), rgba(9, 35, 39, 0.9)), url("../img/Pharmacy-Wave.svg"), url("../img/Pharmacy-Picture.png");
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}
.section1 {
  text-align: center;
}
.section1 .section1-image img {
  display: none;
}
@media (min-width: 768px) {
  .section1 {
    padding-top: 4rem;
  }
  .section1 .section1-image img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1336px) {
  .section1 {
    text-align: left;
  }
  .section1 .section1-flex {
    padding: 10rem 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section1 .section1-image img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }
}
.section1-text-button button {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1.5rem 10rem 1.5rem;
  width: 100%;
  border-radius: 1rem;
  background: #ffffff;
  color: #0b5351;
  border: 2px solid #ffffff;
}
.section1-text-button button:hover {
  color: #ffffff;
  background: #0b5351;
  border-color: #0b5351;
}
@media (min-width: 768px) {
  .section1-text-button h1 {
    font-size: 6rem;
    font-weight: 100;
  }
  .section1-text-button button {
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1.5rem 10rem 1.5rem;
    width: 100%;
    border-radius: 1rem;
    background: #ffffff;
    color: #0b5351;
    border: 2px solid #ffffff;
  }
  .section1-text-button button:hover {
    color: #ffffff;
    background: #0b5351;
    border-color: #0b5351;
  }
}
@media (min-width: 1336px) {
  .section1-text-button h1 {
    font-size: 6rem;
    font-weight: 100;
  }
  .section1-text-button button {
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1.5rem 4rem 1.5rem;
    width: auto;
    border-radius: 1rem;
    background: #ffffff;
    color: #0b5351;
    border: 2px solid #ffffff;
  }
  .section1-text-button button:hover {
    color: #ffffff;
    background: #0b5351;
    border-color: #0b5351;
  }
}
.section1-our-service {
  text-align: center;
  padding: 2rem 0 0 0;
}
@media (min-width: 768px) {
}
@media (min-width: 1336px) {
  .section1-our-service {
    font-size: 3rem;
    padding: 6rem 30rem 0;
  }
}
.section1-sub-content-1 {
  color: white;
  text-align: center;
  display: none;
}
@media (min-width: 768px) {
  .section1-sub-content-1 {
    display: none;
  }
}
@media (min-width: 1336px) {
  .section1-sub-content-1 {
    display: block;
    margin-top: 14rem;
  }
  .section1-sub-content-1 h1 {
    font-size: 6rem;
    font-weight: 100;
  }
}
.section1-sub-content-2 {
  background: #092327;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
}
@media (min-width: 1336px) {
  .section1-sub-content-2 {
    padding: 0 20rem 6rem;
  }
  .section1-sub-content-2 p {
    font-size: 3rem;
  }
}
.section2 {
  display: none;
}
@media (min-width: 768px) {
  .section2 {
    display: none;
  }
}
@media (min-width: 1336px) {
  .section2 {
    display: block;
  }
}
.section3 {
  background: purple;
}
.section4 {
  background: green;
}
