@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #ffffff;
  width: 100%;
  background: gray;
}
h1 {
  font-size: 6rem;
  font-weight: 400;
}
h3 {
  font-weight: 300;
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}
nav {
  padding: 6.5rem 12rem 6.5rem;
  font-size: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #00A9A5;
  padding-left: 8rem;
}
nav a:hover {
  color: #b1ede8;
}
section {
  padding: 0 33rem 0;
}
.section1-div {
  color: #b1ede8;
  background-image: linear-gradient(rgba(9, 35, 39, 0.9), rgba(9, 35, 39, 0.9)), url("../img/Pharmacy-Wave.svg"), url("../img/Pharmacy-Picture.png");
  background-position: bottom center;
  background-repeat: no-repeat;
}
.flex-1-ltr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0 0;
}
.flex-1-ltr .section1-right button {
  margin-top: 4rem;
  font-size: 1.8rem;
  color: #092327;
  padding: 2.3rem 5.5rem;
  border-radius: 1rem;
  background: #ffffff;
  border: 1px solid #00A9A5;
}
.flex-1-ltr .section1-right button:hover {
  color: white;
  background-color: #00A9A5;
  border-color: #092327;
}
.section1-service {
  padding: 6.5rem 0 9rem;
}
.section1-service h3 {
  text-align: center;
}
.inner-section1 {
  padding: 10rem 0 2rem;
  text-align: center;
  color: #ffffff;
}
.section1-sub {
  background: #092327;
}
.section1-sub-paragraph {
  text-align: center;
  padding: 1rem 0 10rem;
}
.section2 {
  text-align: center;
  background: #00A9A5;
  padding: 19rem 0;
}
.flex-2-ltr {
  padding: 20rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-2-ltr .section1-left {
  padding: 0 6rem 0 0;
}
.flex-carousel-container {
  padding: 14rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-quote .flex-slider-ltr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-quote .flex-slider-ltr .carousel-flex-left {
  flex-shrink: 0;
  width: 17rem;
  height: 17rem;
  background: red;
}
.carousel-quote .flex-slider-ltr .carousel-flex-left img {
  height: 100%;
}
