@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
/*
// responsive design stuff
@media @tablet{
// if its smaller than 768 pixels
}
@media @phone{
// if its smaller than 500 pixels
}
*/
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  color: #ffffff;
  width: 100%;
  background: darkgray;
  margin: 0 auto;
  min-width: 360px;
}
h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 100;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.6rem;
  }
}
section {
  padding: 0 16rem 0;
}
@media (max-width: 768px) {
  section {
    padding: 0 4rem 0;
  }
}
@media (max-width: 500px) {
  section {
    padding: 0 2rem 0;
  }
}
.nav-container {
  padding: 3rem 6rem 0;
}
@media (max-width: 768px) {
  .nav-container {
    padding: 3rem 3rem 0;
  }
}
@media (max-width: 500px) {
  .nav-container {
    padding: 3rem 1.5rem 0;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav img {
  flex-shrink: 0;
}
nav a {
  text-decoration: none;
  color: #0b5351;
  font-size: 1.4rem;
  margin-left: 3rem;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  nav .links {
    padding: 0.5rem;
  }
  nav a:first-child {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  nav .links {
    padding: 0.5rem;
  }
  nav a:first-child {
    margin-left: 0;
  }
}
.section1 {
  background: #440f46;
  margin: 6rem 0 0;
}
.section1 button {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .section1 button {
    font-size: 1rem;
    width: 100%;
    margin: 2rem 0 0;
  }
}
@media (max-width: 500px) {
  .section1 button {
    font-size: 0.8rem;
    width: 100%;
    margin: 1.5rem 0 0;
  }
}
@media (max-width: 500px) {
  .section1 {
    margin: 1rem 0 0;
  }
  .section1 img {
    display: none;
  }
}
@media (max-width: 768px) {
  .section1 {
    margin: 3rem 0 0;
  }
  .section1 img {
    width: 75%;
  }
}
.section1-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .section1-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .section1-flex br {
    display: none;
  }
}
@media (max-width: 500px) {
  .section1-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .section1-flex br {
    display: none;
  }
}
.section1-our-service {
  margin: 3rem 0 0;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 768px) {
  .section1-our-service {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .section1-our-service {
    font-size: 0.8rem;
  }
}
.section1-sub-content {
  text-align: center;
  margin: 9rem 0 0;
}
.section1-sub-content p {
  margin: 2rem 0;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .section1-sub-content {
    margin: 4rem 0 0;
  }
  .section1-sub-content p {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .section1-sub-content {
    margin: 2rem 0 0;
  }
  .section1-sub-content p {
    font-size: 0.8rem;
  }
}
