footer{

}
.footer-section1{
    .flex-4-ltr{
        .flex-it();
        .section1-left{

        }
        .section1-right{
            display: flex;
            flex-direction: column;
            text-align: right;
        }
    }
}
.footer-section2{
    padding: 10rem 0;
    background: @darkgreen;
    color: @paleturquoise;
    text-align: center;
    font-style: italic;
    p{
        font-size: 1.6rem;
    }
}