* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    // allows 1 rem = 10px
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    // font
    width: 100%;
}

h1{
    font-size: 6rem;
}
h3{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}