* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    // allows 1 rem = 10px
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
body{
    font-size: 2rem;
}
.diaper{
    margin: 0 auto;
    min-width: 500px;
}
.section1-div{
    padding: 0 3rem;
    padding-top: 2rem;
}
section{
    padding: 2rem 3rem;
}
h1{
    font-size: 3rem;
}

img{
    height: 2.5rem;
}