* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    // allows 1 rem = 10px
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .2rem;
    color: @white;
    // font
    width: 100%;
}

h1{
    font-size: 6rem;
    font-weight: 400;
}

h3{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}