section{
    // inner padding for ALL sections
    padding: 0 30rem 0;
}

.section1-div{
    //background image stuff
    background-image: linear-gradient(
        rgba(red(@darkgreen), green(@darkgreen), blue(@darkgreen), .9),
        rgba(red(@darkgreen), green(@darkgreen), blue(@darkgreen), .9)
        ),
        url("../img/Pharmacy-Wave.svg"),
        url("../img/Pharmacy-Picture.png");
        background-position: bottom center;
        background-repeat: no-repeat;
    .flex-2-ltr{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .section1-left{
        }
        .section1-right{

        }
    }  
}