section{
    // inner padding for ALL sections
    padding: 0 30rem 0;
}
.section1{
    .flex-2-ltr{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .section1-left{
        }
        .section1-right{

        }
    }  
}