.flex-it (@align: center){
    display: flex;
    justify-content: space-between;
    align-items: @align;
}
.button (){
    font-size: 1.8rem;
    color: @darkgreen;
    padding: 2.3rem 5.5rem;
    border-radius: 1rem;
    background: @white;
    border: 1px solid @persiangreen;

    &:hover{
        color: white;
        background-color: @persiangreen;
        border-color: @darkgreen;
    }
}