nav{
    padding: 6.5rem 12rem 6.5rem;
    font-size: 2.8rem;
    .flex-it();
    a{
        text-decoration: none;
        color: @persiangreen;
        padding-left: 8rem;
    }
    a:hover{
        color: @paleturquoise;
    }
}