// Color assignments 
// @font-color: @;
// @button-bg: @;
// @main-bg:  @;
// @navigation-border: @;
// @footer-bg: @;

// Colors
@white: #FFFFFF;
@gray: #F8F8F8;
@darkgreen: #092327;
@midnightgreen: #0B5351;
@paleturquoise: #B1EDE8;
@persiangreen: #00A95A;
@cyanazure: #4e8098;


// Escaping
@tablet: ~"(max-width: 500px)";