@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Colors
@white: #ffffff;
@gray: #f8f8f8;
@darkgreen: #092327;
@midnightgreen: #0b5351;
@paleturquoise: #b1ede8;
@persiangreen: #00A9A5;
@cyanazure: #4e8098;

// Escaping
@tablet: ~"(min-width: 768px)";
@chromebooks: ~"(min-width: 1336px)";
/*
// make it bigger
    @media @tablet{
        //tablet style here
        background: wheat;
    }
    @media @chromebooks{
        //chromebooks and larger here
        background: blue;
    }
*/